@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
    height: auto;
    width: 100%;
    background-image: url('../img/Decore.svg');
    background-repeat: no-repeat;
    background-size:100%;;
    margin: 0;
}
.contact-container{
    background-image: url('/public/img/wires-contact.png');
    background-position: right center;

}
.contact-decor{
    background-image: url('/public/img/decore3.png');
    background-position: right 2% top 97%;
    background-repeat: no-repeat;
    z-index: -9999px;

}
.testimonial-container {
    overflow: hidden;
    position: relative;
    width: 70%;
    max-width: auto; /* Adjust as needed */
    margin: auto;
}

.testimonial-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial-item {
    flex: 0 0 100%;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top{
    transform: rotate(45deg) translate(6px) translateY(6px) ;

}
.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translate(-6px) translateY(6px) ;

}

